@use "variables" as *;

.btn {
  background-color: $main-color;
  color: $text-color;
  padding: 12px 20px;
  border-radius: 12px;
  border: none;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s;
}

.btn:hover {
  transform: scale(1.03);
}
