@use "variables" as *;

.btn {
  background-color: $main-color;
  color: $text-color;
  padding: 20px 30px;
  border-radius: 6px;
  border: none;
  width: 100%;
  font-size: $text-xl;
  font-family: $font-body;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s;
}

.btn:hover {
  transform: scale(1.03);
}
