# ENV
ENVIRONMENT=Development

# PORTS
API_PORT=7163
UI_PORT=7193
DB_PORT=7133

# DATABASE
RESERVATION_DB_SERVER=database
RESERVATION_DB_NAME=name
DB_USER=user
DB_PASSWORD=pass

# STRIPE
STRIPE_SECRET_KEY=sk_test_
STRIPE_PUBLISHABLE_KEY=pk_test_
STRIPE_WEBHOOK_SECRET=whsec_
STRIPE_PRODUCT_PRICE_DUO=price_xxx

# MAILGUN
MAILGUN_API_KEY=key-xxx
MAILGUN_DOMAIN=mg.example.com
MAILGUN_BASE_URL=https://api.mailgun.net
MAIL_FROM_ADDRESS=noreply@example.com
MAIL_FROM_NAME=Sport Challenge Police 54

# URLS
API_BASE_URL=http://localhost:7163
FRONTEND_BASE_URL=http://localhost:7193

#JWT
JWT_KEY=token-here
JWT_ISSUER=SportsReservationAPI

#ADMIN 
ADMIN_USERNAME=admin
ADMIN_PASSWORD=your-strong-password-here