.env

# Angular (ui folder)
/ui/node_modules
/ui/dist
/ui/.angular
/ui/src/environments/environment.ts

# .NET (backend folder)
/backend/**/bin
/backend/**/obj
/backend/**/*.user
/backend/**/*.suo
/backend/.vs
/backend/**/.vscode
/backend/**/appsettings.Development.json
/backend/**/.env

# Database
*.db
*.db-shm
*.db-wal

# IDE
.vscode/
.vs/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db