@use "variables" as *;

.landing {
  background-color: pink;
}

.part-one {
  margin: 0px;
  padding: 0px;
  background-image: url("/images/Horizontal gym placeholder.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: column;
  overflow: auto;
  text-align: center;
  margin: 20px 20px;
  font-family: $font-title;
  font-size: $text-sm;
  background-color: $main-color;
  color: $text-color;
  border-radius: 6px;
  padding: 0.5rem;
  width: 80%;
  max-width: 900px;
}

.cta {
  display: flex;
  margin: auto;
  width: auto;
  justify-content: center;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 768px) {
  .part-one {
    background-size: cover;

    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 60%, #000 95%)
      url("/images/Horizontal gym placeholder.jpg");
  }
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
  }

  app-card {
    width: calc(50% - 20px);
  }
}
