<section class="landing">
    <div class="part-one">

        <div class="title">
            <h1>Compétition sportive au Gym de Nancy</h1>
            <h1>Rendez-vous le 11/03</h1>
        </div>

        <div class="cta">
            <app-button>INSCRIPTION</app-button>
        </div>

    </div>
    <div class="cards">
        <app-card image="assets/project1.jpg" description="My first project about..."></app-card>

        <app-card image="assets/project2.jpg" description="Another cool project..."></app-card>
    </div>

</section>