@use "variables" as *;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $background-color;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  justify-content: space-between;
  background-color: $background-bright-color;
  min-height: 30vh;
  min-width: 50vh;
  padding: 1em;
  margin: 2em 1em;
  border-radius: 0.5em;
  border: solid 0.2em;
  border-color: $main-color;
}

.title {
  padding: 0.5em;
  color: $main-color;
  font-family: $font-title;
  font-size: $text-xl;
}

.text {
  padding: 0.5em;
  color: white;
  font-family: $font-body;
  font-size: $text-base;
}
